appdirs==1.4.4
Backtesting==0.3.3
bokeh==2.4.3
certifi==2022.9.24
charset-normalizer==2.1.1
contourpy==1.0.5
cycler==0.11.0
fonttools==4.37.4
idna==3.4
Jinja2==3.1.2
kiwisolver==1.4.4
lxml==4.9.1
MarkupSafe==2.1.1
matplotlib==3.6.0
multitasking==0.0.11
numpy==1.23.3
packaging==21.3
pandas==1.5.0
pep8==1.7.1
Pillow==9.2.0
pyparsing==3.0.9
python-dateutil==2.8.2
python-dotenv==0.21.0
pytz==2022.4
PyYAML==6.0
requests==2.28.1
six==1.16.0
TA-Lib==0.4.25
tornado==6.2
typing_extensions==4.3.0
urllib3==1.26.12
yfinance==0.1.75
